
.vs/AbhishekChachad_BookStore/FileContentIndex/bbe06121-53f2-49b7-bd70-e127066ff752.vsidx
.vs/AbhishekChachad_BookStore/FileContentIndex/cec181be-b472-4602-8b76-fcabbc801978.vsidx
.vs/AbhishekChachad_BookStore/FileContentIndex/f255be4d-5dc3-4fa1-a9dd-efd42a1e9c43.vsidx
packages/
